th{
  border-radius: 1em;
}

.redondedoInicio{
  border-radius: 20px 0px 0px 20px;
}


.redondedoFinal{
  border-radius: 0px 20px 20px 0px;
}

.redondeoCompleto{
  border-radius: 20px 20px 20px 20px;
}


 .titulo-main {
  padding: 15px 30px;  
  border-radius: 5px;
  border: 1px solid #acacac;
}

 .titulo-main h3 {
  font-size: 24px;
}

.pantalla-completa{
  width: 100%;
  height: 100%;
}
.example-tab-icon {
  margin-right: 8px;
  margin-bottom: 10px;
}

.mat-tab-group.mat-primary .mat-tab-list .mat-tab-label {
   background-color: #ff0000;
   border-bottom: 2px solid #ff0000 !important;
}

.mat-tab-group.mat-primary .mat-tab-list .mat-tab-label.mat-tab-label-active {
   background-color: #f60000;
   font-weight: bold;
}