<div class="container-fluid ">
  <div class="row">
    <div class="p-2 bg-body-secondary col-12 col-md-9 redondeoCompleto" [ngClass]=" !verMenu ? 'col-12 col-md-12' : 'col-12 col-md-12'">
      <div class="container-fluid">
        <div class="card shadow-2" >
          <div class="card-body">
            <div class="row p-4" (click)="verMenu=!verMenu">
              <!-- <div class="col-1">
                <img
                  [ngStyle]="{ 'transform': verMenu ? 'rotate(180deg)' : 'rotate(0deg)' }"
                  class="img-fluid"
                    src="assets/iconos/Icono_Desplegable_Gris-04.png"
                    alt="Regresar"
                  />
              </div> -->
              <div class="col-12 p-2 titulo-main d-flex justify-content-center bg-custom-soft">
                <div class=" rounded d-flex justify-content-center" style="width: 450px;">
                  <p class="fs-5">Módulo - Credito fiscal</p>
                </div>
              </div>
            </div>
            <div class="row pb-3">
              <div class="col-6 d-flex justify-content-end">
                <a class="btn btn-success" routerLink="/contabilidad/ingresoconsumidorfinal">Nuevo CCF</a>
              </div>
              <div class="col-6 d-flex justify-content-start">
                <a class="btn btn-warning" routerLink="/contabilidad/ingresoconsumidorfinal">Editar CCF</a>
              </div>
            </div>
            <div class="p-2 row shadow-2 table-responsive">
              <table class="table table-striped table-hover text-center">
                <thead>
                  <tr>
                    <th scope="col">N° de orden</th>
                    <th scope="col">Lugar y fecha de emisión</th>
                    <th scope="col">Id del comprador</th>
                    <th scope="col">Id del vendedor</th>
                    <th scope="col">Descripción</th>
                    <th scope="col">Precio de pago</th>
                    <th scope="col">Tiempo de entrega</th>
                    <th>PÁG 1/1 <i class="bx bx-printer"></i></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="redondedoInicio">1</td>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td >&#64;mdo</td>
                    <td >&#64;mdo</td>
                    <td >&#64;mdo</td>
                    <td class="redondedoFinal">&#64;mdo</td>
                    <td class="redondeoCompleto">
                      <i class='bx bx-lock-open-alt p-1'></i>
                      <i class='bx bxs-download p-1' ></i>
                      |
                      <i class='bx bx-show p-1'></i>
                      <i class='bx bx-trash p-1'></i>
                      <i class="bx bx-printer p-1"></i>
                    </td>
                  </tr>
                  <tr>
                    <td class="redondedoInicio">2</td>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td >&#64;fat</td>
                    <td >&#64;fat</td>
                    <td >&#64;fat</td>
                    <td class="redondedoFinal">&#64;fat</td>
                    <td class="redondeoCompleto">
                      <i class='bx bx-lock-open-alt p-1'></i>
                      <i class='bx bxs-download p-1' ></i>
                      |
                      <i class='bx bx-show p-1'></i>
                      <i class='bx bx-trash p-1'></i>
                      <i class="bx bx-printer p-1"></i>
                    </td>
                  </tr>
                  <tr>
                    <td class="redondedoInicio">3</td>
                    <td>Thornton</td>
                    <td>Thornton</td>
                    <td >&#64;twitter</td>
                    <td >&#64;twitter</td>
                    <td >&#64;twitter</td>
                    <td class="redondedoFinal">&#64;twitter</td>
                    <td class="redondeoCompleto">
                      <i class='bx bx-lock-open-alt p-1'></i>
                      <i class='bx bxs-download p-1' ></i>
                      |
                      <i class='bx bx-show p-1'></i>
                      <i class='bx bx-trash p-1'></i>
                      <i class="bx bx-printer p-1"></i>
                    </td>
                  </tr>
                </tbody>
              </table>


            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
