<div class="wrapper">

  <app-nav></app-nav>

  <div class="container-fluid d-flex flex-row contenedor-padre ">
    <div class="dimmer" *ngIf="buscando()"></div>
    
    <div class="menu-lateral" [ngClass]="service.isOpen == true ? 'menu-lateral-contraido' : 'col-3'">
      <app-menu-lateral></app-menu-lateral>
    </div>
    
    <div class="contenido-principal d-flex flex-column">
      <app-menu-superior></app-menu-superior>
      <div class="contenido bg-custom-medium" (click)="cerrarMenus()">
        <router-outlet></router-outlet>
      </div>
    </div>

  </div>

  <app-footer></app-footer>

</div>
