img {
    width: 17px;
}

p{
    margin: 0;
}

.base {
    background: #E8E8E8;
    padding: 10px;
    border-radius: 10px;
}

.contenedor{
    background: #FFFFFF;
    box-sizing: border-box;
    border-radius: 10px;
}

.contenedor > h3 {
    margin: 0;
    padding: 20px 0px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}

.contenedor-indicaciones {
    margin: 0px 0px 40px 0px;
    padding: 0px 20px 0px 20px;
}

.contenedor-indicaciones ul{
    /* background-color: brown; */
    margin: 0;
    padding: 0;
}

.contenedor-indicaciones ul li {
    list-style: none;
    align-items: center;
    text-decoration: none;
    margin: 0;
    margin-bottom: 10px;
    padding: 0px 5px;
    border-radius: 5px;
}

.indicaciones {
    background-color:#F2F2F2 ;
    width: 100%;
    border: 2px solid #ABABAB;
    display: flex;
    justify-content: space-between;
}

.indicaciones p {
    margin: 0;
}

.icon-indicacion {
    width: 30px;
}


/* ---------------------SECCION DE ADMIN - CATALOGO----------------------- */
.admin-catalogo {
    /* background-color: aquamarine; */
    margin: 0px 20px 0px 20px;
}

.admin-catalogo h3 {
    text-align: center;
    font-size: 20px;
}

.options {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.btn-main {
    background-color: #B5E5C6;
    color: #89928c;
    padding: 10px 5px;
    border: 2px solid #AABCB0;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.btn-eliminar {
    background-color: #E5CB89;
}

.btn-main p {
    margin: 0;
}

.icon-opt {
    width: 20px;
}


/* ----------------------TABLA-------------------------- */
.contenedor-tabla {
    width: 100%;
    padding: 10px;
}

.tabla-head {
    width: 100%;
}

.gridTemplate {
    display: grid;
    grid-template-columns: repeat(4, 10% 10% 50% 30%);
}

.tabla-head p{
    background-color: #D8D8D8;
    color: #8b8888;
    font-weight: bold;
    border-radius: 5px;
    padding: 5px 10px;
    border: 2px solid #B4B4B4;
}

.tabla-head p:first-of-type {
    background-color: #F2F2F2;
    text-align: center;
}

.contenido-tabla {
    padding: 5px 10px;
    margin-top: 3px;
    background-color: #CCE1FF;
    color: black;
    font-weight: bold;
    border-radius: 5px;
    border: 1px solid #B4B4B4;
}

.contenido-tabla:nth-child(1) {
    background-color: #F2F2F2;
    text-align: center;
}
.contenido-tabla:nth-child(4) {
    background-color: #E5E5E5;
    justify-content: space-evenly;
    text-align: center;
}

.displayFlex {
    display: flex;
    justify-content: space-between;
}


.desplegable {
    width: 100%;
    margin-top: 5px;
}

.desplegable-head {
    display: grid;
    grid-template-columns: 20% 30% 50%;
}

.desplegable-head p {
    text-align: center;
    padding: 10px 10px;
    background: #c7f2d4;
    border-radius: 10px;
    border: 1px solid #B4B4B4;
}

.desplegable-contenido {
    /* margin-top: 10px; */
    display: grid;
    grid-template-columns: 20% 30% 50%;
}

.desplegable-contenido p {
    padding: 5px 10px;
    background: #e5e5e5;
    border-radius: 10px;
    border: 1px solid #B4B4B4;
}

.desplegarNo{
    display: none;
}