th{
  border-radius: 1em;
}

.redondedoInicio{
  border-radius: 20px 0px 0px 20px;
}


.redondedoFinal{
  border-radius: 0px 20px 20px 0px;
}

.redondeoCompleto{
  border-radius: 20px 20px 20px 20px;
}

.titulo-main {
  padding: 15px 30px;
  border-radius: 5px;
  border: 1px solid #acacac;
}

 .titulo-main h3 {
  font-size: 24px;
}
