<div class="contenedor bg-custom-soft d-flex flex-column">
  <div class="head bg-custom-medium d-flex justify-content-center py-3 mb-4">
    <p class="fs-4">Registros Token</p>
  </div>
  <div>
    <div>
      <div class="p-2 row card">
        <div class="table-responsive">
          <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
            <ng-container matColumnDef="usuario">
              <th mat-header-cell *matHeaderCellDef class="usuario-column"><strong>USUARIO</strong></th>
              <td mat-cell *matCellDef="let element" class="usuario-column"> {{element.usuario}} </td>
            </ng-container>
            <ng-container matColumnDef="fecha">
              <th mat-header-cell *matHeaderCellDef class="fecha-column"><strong>FECHA</strong></th>
              <td mat-cell *matCellDef="let element" class="fecha-column"> {{element.fecha}} </td>
            </ng-container>
            <ng-container matColumnDef="token">
              <th mat-header-cell *matHeaderCellDef class="token-column"><strong>TOKEN</strong></th>
              <td mat-cell *matCellDef="let element" class="token-column"> {{element.token}} </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
          <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="confirmacionModal" aria-hidden="true" aria-labelledby="confirmacionModalLabel" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="confirmacionModalLabel">Confirmación de eliminación</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" *ngIf="seleccionado!=null">
          Está seguro que desea eliminar al registro <b>{{seleccionado.nombre?seleccionado.nombre:''}}</b>
        </div>
        <div class="modal-footer">
          <button class="btn btn-secondary" data-bs-target="#confirmacionModal" data-bs-toggle="modal">Cancelar</button>
          <button class="btn btn-danger" data-bs-target="#confirmacionModal" data-bs-toggle="modal">Aceptar</button>
        </div>
      </div>
    </div>
  </div>
</div>
