<div class="contenedor bg-custom-soft d-flex flex-column">

  <div class="head bg-custom-medium d-flex justify-content-center py-3 mb-4">
    <p class="fs-4">Registros Token</p>
  </div>
  <div>
    <div>
      <div class="p-2 row shadow-2 card">
        <div class="col-12">
          <div class="form-group required mb-1">
            <label for="token" class="form-label">TOKEN GENERADO</label>
            <input id="tokenInput" type="text" formControlName="token" class="form-control" style="width: 100%;">
          </div>
        </div>
        <div class="d-flex justify-content-end mt-3">
          <button class="btn btn-warning" (click)="generarTokenAleatorio()">Crear Token</button>
        </div>
      </div>
      <div class="p-2 row shadow-2 card">
        <div class="table-responsive">
          <table class="table table-striped table-hover text-center">
            <thead>
              <tr>
                <th scope="col">ID Token</th>
                <th scope="col">Token</th>
                <th scope="col">Fecha Generacion</th>
                <th>Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let usuario of lista">
                <td>{{usuario.id}}</td>
                <td>{{usuario.token}}</td>
                <td>{{usuario.creacion}}</td>
                <td>
                  <button class="btn"><i class='bx bx-show'></i></button>
                  <button class="btn"><i class='bx bxs-pencil'></i></button>
                  <button class="btn"  data-bs-toggle="modal" data-bs-target="#confirmacionModal" ><i class='bx bx-trash'></i></button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <!-- Modal confirmar eliminación -->
  <div class="modal fade" id="confirmacionModal" aria-hidden="true" aria-labelledby="confirmacionModalLabel" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="confirmacionModalLabel">Confirmación de eliminación</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" *ngIf="seleccionado!=null">
          Está seguro que desea eliminar al registro <b>{{seleccionado.nombre?seleccionado.nombre:''}}</b>
        </div>
        <div class="modal-footer">
          <button class="btn btn-secondary" data-bs-target="#confirmacionModal" data-bs-toggle="modal">Cancelar</button>
          <button class="btn btn-danger" data-bs-target="#confirmacionModal" data-bs-toggle="modal">Aceptar</button>
        </div>
      </div>
    </div>
  </div>
</div>