<nav class="nav fixed-top flex flex-col">
  <div class="nav-primario bg-custom">
    <div class="menu-hamburguesa">
      <button class="abrir-hamburguesa" (click)="desplegarMenuHam()">
        <img class="icon-ham invert-img-color" src="../assets/iconos/menuHamburguesa.svg" alt="Menu">
      </button>
      <h1 class="name-page pointer" (click)="navigateTo('/')">Bee<span class="logo-dark-text">contable</span></h1>
    </div>
    
    <div class="menu-sesion">
      <p class="contador">TOKEN</p>
      <div title="Usuario activo">
        <svg xmlns="http://www.w3.org/2000/svg" height="16" width="16" fill="green" viewBox="0 0 512 512"><path d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512z"/></svg>
      </div>
      <div class="btn-group">
        <button id="dropdownMenuButton1" class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          <img class="invert-img-color" src="../assets/iconos/menuTheme.svg" alt="theme">
        </button>
        <ul aria-labelledby="dropdownMenuButton1" class="dropdown-menu">
          <li (click)="dataService.cambiarTema('light')" class="dropdown-item" [ngClass]=" dataService.tema == 'light' ? 'bg-custom-soft' : ''">
            <p>Claro</p> <img class="invert-img-color" src="../assets/iconos/menuThemeLight.svg" alt="theme">
          </li>
          <li (click)="dataService.cambiarTema('dark')" class="dropdown-item" [ngClass]=" dataService.tema == 'dark' ? 'bg-custom-soft' : ''">
            <p>Oscuro</p> <img class="invert-img-color" src="../assets/iconos/menuThemeDark.svg" alt="theme">
          </li>
          <hr>
          <li (click)="dataService.cambiarEscalaGrises()" class="dropdown-item" [ngClass]="dataService.escalaGrises == false ? '' : 'escalaGrises bg-custom-soft'">
            <p>Gris</p>
            <img class="invert-img-color" src="../assets/iconos/check.svg" alt="theme" [ngClass]="dataService.escalaGrises==true?'':'d-none'">
          </li>
        </ul>
      </div>
      
      <div class="contenedor-sesion">
        <mat-icon class="icono-menu invert-img-color">account_circle</mat-icon>
        <div class="menu-vertical bg-custom-soft">
          <div class="menu-vertical-head">
            <h3>Sergio Nortero</h3>
            <p>Admin|Contador 0001</p>
          </div>
          <div class="menu-config">
            <div class="config-option"
                 *ngIf="userRole === 'administrador' || userRole === 'emprendedor' || userRole === 'contador'"
                 (click)="opcionMenu('contabilidad'); dataService.toggleMenuOption(2);">
              <mat-icon class="img-menu-conf">home</mat-icon>
              <p>Inicio</p>
            </div>
            <div class="config-option"
                 *ngIf="userRole === 'administrador'"
                 (click)="opcionMenu('registro'); dataService.toggleMenuOption(0);">
              <mat-icon class="img-menu-conf">assignment</mat-icon>
              <p>Modulo de Registros</p>
            </div>
            <div class="config-option"
                 *ngIf="userRole === 'administrador' || userRole === 'emprendedor' || userRole === 'contador'"
                 (click)="opcionMenu('configuracion'); dataService.toggleMenuOption(0);">
              <mat-icon class="img-menu-conf">settings</mat-icon>
              <p>Modulo de MH</p>
            </div>
            <div class="config-option"
                 *ngIf="userRole === 'administrador' || userRole === 'emprendedor' || userRole === 'contador'"
                 (click)="opcionMenu('configuracion'); dataService.toggleMenuOption(0);">
              <mat-icon class="img-menu-conf">settings</mat-icon>
              <p>Soporte Tecnico</p>
            </div>
            <div class="config-option"
                *ngIf="userRole === 'administrador' || userRole === 'emprendedor' || userRole === 'contador'"
                (click)="navigateTo('/')">
              <mat-icon class="img-menu-conf">exit_to_app</mat-icon>
              <p>Cerrar Sesión</p>
            </div>
          </div>
        </div>
      </div>
      
    </div>
  </div>
  <div class="nav-secundario">
    <div class="nav-sec-fondo invert-img-color"></div>
    <div class="nav-sec-contenido">
      <div class="buscador bg-custom-medium">
        <button routerLink="/resultados/resultados" class="buscador-boton bg-custom-medium" >
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16"> <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
          </svg>
        </button>
        <input 
          class="bg-custom-medium" type="text" 
          [(ngModel)]="valorBusqueda"
          (ngModelChange)="buscar()"
          placeholder="Buscar en este ERP Contable" />
      </div>
    </div>
    <div class="menu-inicio" (click)="desplegarMenuSuperior()">
      <!-- -->
      <p class="menu-inicio-text text-custom">Inicio</p>
      <img class="menu-inicio-icono" [ngClass]="dataService.isOpenMenuSuperior == false ? '' : 'rotated'"
         src="../assets/iconos/Icono_Desplegable.png" alt="inicio">
    </div>
  </div>

  <div class="position-absolute top-100 start-50 translate-middle-x card col-10 m-4 shadow-lg bg-custom-soft" *ngIf="this.dataService.buscando">
    <div class="card-body">
      <div class="d-flex justify-content-between">
        <div></div>
        <h6>Resultados:</h6>
        <button type="button" class="btn-close" (click)="resetBusqueda()" aria-label="Close"></button>
      </div>
      <div class="list-group">
        <div 
          *ngFor="let doc of encontrados"
          class="list-group-item list-group-item-action pointer"
          (click)="seleccionarBusqueda(doc.nombreDoc)"
        > 
          {{ doc.nombreDoc }}
        </div>
      </div>
      <app-pdf-view
        *ngIf="seleccionado != ''"
        [height]="'60vh'"
        [src]="seleccionado"
      ></app-pdf-view>
    </div>
  </div>

</nav>

<!-- Modal -->
<div class="modal fade" id="soporteModal" tabindex="-1" aria-labelledby="soporteModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="soporteModalLabel">Generar TOKEN</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="p-3">
          <div class="row">
            <div class="col-12 col-md-12">
              <div class="input-group mb-3">
                <label class="input-group-text" for="inputGroupSelect01">Emisor</label>
                <select class="form-select" id="inputGroupSelect01">
                  <option selected>Seleccionar uno</option>
                  <option value="opcion1">Mark</option>
                  <option value="opcion2">Jacob</option>
                  <option value="opcion3">Jacob</option>
                </select>
              </div>
            </div>
            <div class="col-12 col-md-12">
              <div class="input-group mb-3">
                <label class="input-group-text" for="inputGroupSelect01">Receptor</label>
                <select class="form-select" id="inputGroupSelect01">
                  <option selected>Seleccionar uno</option>
                  <option value="opcion1">Mark</option>
                  <option value="opcion2">Jacob</option>
                  <option value="opcion3">Jacob</option>
                </select>
              </div>
            </div>
            <div class="col-12 col-md-6">
              <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1"># Factura</span>
                <input type="tex*t" class="form-control" placeholder="#" aria-label="NCR" aria-describedby="basic-addon1">
              </div>
            </div>
            <div class="col-12 col-md-6">
              <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">NCR</span>
                <input type="tex*t" class="form-control" placeholder="NCR" aria-label="NCR" aria-describedby="basic-addon1">
              </div>
            </div>
            <div class="col-12 col-md-12">
              <div class="input-group mb-3">
                <span class="input-group-text" id="basic-addon1">Comentario</span>
                <textarea class="form-control" placeholder="" aria-label="NCR" aria-describedby="basic-addon1"></textarea>
              </div>
            </div>       
        </div>       
      </div>
      <div class="modal-footer">
        <button type="button" (click)="ingresar()" class="btn btn-secondary" data-bs-dismiss="modal">Aceptar</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
      </div>
    </div>
  </div>
  <div class="modal fade" id="tokenModal" tabindex="-1" aria-labelledby="tokenModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="tokenModalLabel">Generar Token</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
</div>
