.persona.bg-custom-soft {
    background-color: #f8f9fa;
}
  
.bg-custom-medium {
    background-color: #343a40;
    color: white;
}
  
.contenedor {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 10px;
}

.card-custom {
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 15px; /* Incrementa el margen izquierdo */
    margin-right: 15px; /* Incrementa el margen derecho */
    border: 2px solid #007bff;
    border-radius: 10px;
    text-align: center;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    cursor: pointer;
    transition: transform 0.3s;
}
  
.card-custom:hover {
    transform: scale(1.05);
}

/* Actualización de las clases para exportación */
.card-exportacion-productos, .icon-producto {
    border-color: #4caf50; /* Verde para exportación de productos */
    color: #4caf50;
    width: 200px;
}

.card-exportacion-servicio, .icon-servicio {
    border-color: #2196f3; /* Azul para exportación de servicios */
    color: #2196f3;
    width: 200px;
}

/* Colores de texto actualizados */
.text-exportacion-productos {
    color: #4caf50; /* Verde para exportación de productos */
}

.text-exportacion-servicio {
    color: #2196f3; /* Azul para exportación de servicios */
}

.card-custom img {
    width: 40%;
    height: auto;
}

.card-custom button {
    background: none;
    border: none;
    width: 100%;
    text-align: center;
    padding: 0;
}
.custom-toolbar {
    background: #f8f9fa;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-bottom: 3px solid #0056b3;
    display: flex;
    justify-content: center;
    padding: 20px 0;
  }
  
  .title-text {
    font-size: 1rem;
    font-weight: bold;
    color: rgb(0, 0, 0);
    text-align: center;
  }