<div class="content">
    <div class="botones">
        <button class="selected">Historial de Registros</button>
        <button class="">Nuevo</button>
    </div>
    
    <div class="contenido">
        <div class="info">
            <h5>Nombre: </h5>
            <p>El Salvador S.A de S.V</p>
        </div>
        <div class="info">
            <h5>Dirrección: </h5>
            <p>Final 23. AV. Norte. San Salvador</p>
        </div>
        <div class="info">
            <h5>NCR: </h5>
            <p>1264-41</p>
        </div>
        <div class="info">
            <h5>DUI: </h5>
            <p>41152-1015-1515</p>
        </div>
    </div>
</div>
