<div class="contenedor bg-custom-soft d-flex flex-column">

  <div class="head bg-custom-medium d-flex justify-content-center py-3 mb-4">
    <p class="fs-4">REGISTRO RECEPTOR</p>
  </div>
  <form [formGroup]="formulario">

  <div class="row">
    <div class="col-12 col-md-3">
      <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">NIT</span>
        <input type="text" class="form-control" placeholder="NIT" aria-label="NIT" aria-describedby="basic-addon1">
      </div>
    </div>
    <div class="col-12 col-md-3">
      <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">NCR</span>
        <input type="text" class="form-control" placeholder="NCR" aria-label="NCR" aria-describedby="basic-addon1">
      </div>
    </div>
    <div class="col-12 col-md-6">
      <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">Nombre</span>
        <input type="text" class="form-control" placeholder="Nombre" aria-label="Nombre" aria-describedby="basic-addon1">
      </div>
    </div>
    <div class="col-12 col-md-6">
      <div class="input-group mb-3">
        <label class="input-group-text" for="inputGroupSelect01">Cod. Actividad</label>
        <input type="text" class="form-control" placeholder="Actividad" aria-label="Actividad" aria-describedby="basic-addon1">
      </div>
    </div>
    <div class="col-12 col-md-6">
      <div class="input-group mb-3">
        <label class="input-group-text" for="inputGroupSelect01">Des. Actividad</label>
        <input type="text" class="form-control" placeholder="Actividad" aria-label="Actividad" aria-describedby="basic-addon1">
      </div>
    </div>
    <div class="col-12 col-md-6">
      <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">Nombre Comercial</span>
        <input type="text" class="form-control" placeholder="Nombre Comercial" aria-label="Nombre Comercial" aria-describedby="basic-addon1">
      </div>
    </div>
    <div class="col-12 col-md-6">
      <div class="input-group mb-3">
        <label class="input-group-text" for="inputGroupSelect01">Departamento</label>
        <select class="form-select" id="inputGroupSelect01">
          <option value="">Seleccionar uno</option>
        </select>
      </div>
    </div>
    <div class="col-12 col-md-6">
      <div class="input-group mb-3">
        <label class="input-group-text" for="inputGroupSelect01">Municipio</label>
        <select class="form-select" id="inputGroupSelect01">
          <option value="">Seleccionar uno</option>
        </select>
      </div>
    </div>
    <div class="col-12 col-md-6">
      <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">Complemento</span>
        <input type="text" class="form-control" placeholder="Complemento" aria-label="Complemento" aria-describedby="basic-addon1">
      </div>
    </div>
    <div class="col-12 col-md-6">
      <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">Telefono</span>
        <input type="text" class="form-control" placeholder="Telefono" aria-label="Telefono" aria-describedby="basic-addon1">
      </div>
    </div>
    <div class="col-12 col-md-6">
      <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">Correo</span>
        <input type="text" class="form-control" placeholder="Correo" aria-label="Correo" aria-describedby="basic-addon1">
      </div>
    </div>
  </div>
  <div class="row pb-3">
    <div class="col-12 d-flex justify-content-end">
      <button type="button" class="btn btn-success ml-auto">Crear Receptor</button>
    </div>
  </div>
</form>
<div>
  <div>
    <div class="p-2 row card">
      <div class="table-responsive">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
          <ng-container matColumnDef="correo">
            <th mat-header-cell *matHeaderCellDef><strong>NOMBRE COMERCIAL</strong></th>
            <td mat-cell *matCellDef="let element"> {{element.correo}} </td>
          </ng-container>
          <ng-container matColumnDef="nombre">
            <th mat-header-cell *matHeaderCellDef><strong>NIT</strong></th>
            <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
          </ng-container>
          <ng-container matColumnDef="apellido">
            <th mat-header-cell *matHeaderCellDef><strong>NRC</strong></th>
            <td mat-cell *matCellDef="let element"> {{element.apellido}} </td>
          </ng-container>
          <ng-container matColumnDef="dui">
            <th mat-header-cell *matHeaderCellDef><strong>CORREO</strong></th>
            <td mat-cell *matCellDef="let element"> {{element.dui}} </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
      </div>
    </div>
  </div>
</div>
  <!-- Modal confirmar eliminación -->
  <div class="modal fade" id="confirmacionModal" aria-hidden="true" aria-labelledby="confirmacionModalLabel" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="confirmacionModalLabel">Confirmación de eliminación</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" *ngIf="seleccionado!=null">
          Está seguro que desea eliminar al registro <b>{{seleccionado.nombre?seleccionado.nombre:''}}</b>
        </div>
        <div class="modal-footer">
          <button class="btn btn-secondary" data-bs-target="#confirmacionModal" data-bs-toggle="modal">Cancelar</button>
          <button class="btn btn-danger" data-bs-target="#confirmacionModal" data-bs-toggle="modal">Aceptar</button>
        </div>
      </div>
    </div>
  </div>
</div>