<div class="contenedor bg-custom-soft d-flex flex-column">
  <div class="head bg-custom-medium d-flex justify-content-center py-3 mb-4">
    <p class="fs-5">REGISTRO DE TOKEN</p>
  </div>

  <div>
    <div class="d-flex justify-content-between mb-3">
    </div>
    <div class="p-2 row shadow-2 card" *ngIf="opcion == 0 ? true:false">
      <table class="table table-responsive table-striped table-hover text-center">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">TOKEN</th>
            <th scope="col">Emisor</th>
            <th scope="col">Receptor</th>
            <th scope="col">Hora</th>
            <th scope="col">Fecha</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>Z1E5GGdvmWJeQ78ZQwlQ</td>
            <td>Maximino Plasencia</td>
            <td>Jacobo Ubeda</td>
            <td>03:55</td>
            <td>12/02/2024</td>
            <td>
              <i class='bx bx-show p-1'></i>
              <i class='bx bxs-pencil p-1' ></i>
              <i class='bx bx-trash p-1'></i>
            </td>
          </tr>
          <tr>
            <td>2</td>
            <td>A1E5GGevmWJeQ5ZQwlQ</td>
            <td>Anastasio Duran</td>
            <td>Francisco Asis</td>
            <td>12:55</td>
            <td>05/15/2024</td>
            <td>
              <i class='bx bx-show p-1'></i>
              <i clas class='bx bxs-pencil p-1'></i>
              <i class='bx bx-trash p-1'></i>
            </td>
          </tr>
          <tr>
            <td>3</td>
            <td>P1H5GGdNmWJeQ78ZQwlB</td>
            <td>Vicente Jose</td>
            <td>Constantino Mañas</td>
            <td>05:35</td>
            <td>02/31/2024</td>
            <td>
              <i class='bx bx-show p-1'></i>
              <i class='bx bxs-pencil p-1' ></i>
              <i class='bx bx-trash p-1'></i>
            </td>
          </tr>
          <tr>
            <td>4</td>
            <td>K1E5GG493WJeQ74ZQwlX</td>
            <td>Ruben Cubero</td>
            <td>Jose David</td>
            <td>17:30</td>
            <td>11/02/2024</td>
            <td>
              <i class='bx bx-show p-1'></i>
              <i class='bx bxs-pencil p-1' ></i>
              <i class='bx bx-trash p-1'></i>
            </td>
          </tr>
          <tr>
            <td>5</td>
            <td>F123GGdvmWJtQ78ZQwlQ</td>
            <td>Antonio Luis</td>
            <td>Luis Miguel</td>
            <td>19:65</td>
            <td>08/19/2024</td>
            <td>
              <i class='bx bx-show p-1'></i>
              <i class='bx bxs-pencil p-1' ></i>
              <i class='bx bx-trash p-1'></i>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div *ngIf="opcion == 1">
      <div class="row">
        <div class="form-group required mb-1 col-12 col-md-6">
          <label for="i-nom" class="form-label">Nombre o razón social</label>
          <input type="text" class="form-control" id="i-nom">
        </div>
        <div class="form-group mb-1 col-12 col-md-6">
          <label for="i-nomc" class="form-label">Nombre comercial</label>
          <input type="text" class="form-control" id="i-nomc">
        </div>
      </div>
      <div class="row">
        <div class="form-group required mb-1 col-12 col-md-6">
          <label for="i-mai" class="form-label">Correo (para factura electrónica)</label>
          <input type="email" class="form-control" id="i-mai">
        </div>
        <div class="form-group required mb-1 col-12 col-md-6">
          <label for="i-tel" class="form-label">Teléfono</label>
          <input type="text" class="form-control" id="i-tel">
        </div>
      </div>
      <div class="row">
        <div class="form-group required mb-1 col-12 col-md-6">
          <label for="i-nit" class="form-label">NIT</label>
          <input type="text" class="form-control" id="i-nit">
        </div>
        <div class="form-group required mb-1 col-12 col-md-6">
          <label for="i-nrc" class="form-label">NRC</label>
          <input type="text" class="form-control" id="i-nrc">
        </div>
      </div>
      <div class="row">
        <div class="form-group required mb-1 col-12">
          <label for="i-dir" class="form-label">Dirección</label>
          <input type="text" class="form-control" id="i-dir">
        </div>
      </div>
      <div class="row">
        <div class="form-group required mb-1 col-12 col-md-6">
          <label for="i-est" class="form-label">Tipo establecimiento</label>
          <select class="form-select" id="i-est">
            <option value="1">Tipo 1</option>
            <option value="2">Tipo 2</option>
            <option value="3">Tipo 3</option>
          </select>
        </div>
        <div class="form-group required mb-1 col-12 col-md-6">
          <label for="i-act" class="form-label">Giro o actividad económica</label>
          <select class="form-select" id="i-act">
            <option value="1">Act 1</option>
            <option value="2">Act 2</option>
            <option value="3">Act 3</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="form-group required mb-1 col-12 col-md-4">
          <label for="i-tdm" class="form-label">Tipo de moneda</label>
          <select class="form-select" id="i-tdm">
            <option value="1">USD</option>
            <option value="2">GTQ</option>
            <option value="3">SVC</option>
          </select>
        </div>
        <div class="form-group required mb-1 col-12 col-md-4">
          <label for="i-cfs" class="form-label">Cantidad de decimales</label>
          <input type="number" class="form-control" id="i-cfs">
        </div>
        <div class="form-group required mb-1 col-12 col-md-4">
          <label for="i-aprx" class="form-label">Tipo de aproximación</label>
          <select class="form-select" id="i-aprx">
            <option value="1">Por defecto (1.414 = 1.41)</option>
            <option value="2">Por exceso (1.414 = 1.42)</option>
          </select>
        </div>
      </div>
      <div class="d-flex justify-content-end mt-3">
        <button class="btn btn-danger" (click)="operacion()">
          Guardar
        </button>
      </div>
    </div>
    <div class="d-flex justify-content-end mt-3">
      <button class="btn" (click)="operacion()" [ngClass]="opcion == 0 ? 'btn-warning' : 'btn-secondary'">
        {{opcion == 0 ? 'Nuevo' : 'Atras'}}
      </button>
    </div>
  </div>

    <!-- Modal detalle -->
  <div class="modal fade" id="detalleModal" tabindex="-1" aria-labelledby="detalleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="detalleModalLabel">Cambio de contraseña</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="mb-1 col-12">
            <label for="i-c1" class="form-label">Contraseña</label>
            <input type="password" class="form-control" id="i-nom" readonly="true">
          </div>
          <div class="mb-1 col-12">
            <label for="i-c2" class="form-label">Repita la contraseña</label>
            <input type="password" class="form-control" id="i-ape" readonly="true">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>
</div>