<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css"> 
</head>
<body>

  <mat-toolbar color="primary" class="custom-toolbar">
    <span class="title-text">Factura Credito Fiscal</span>
  </mat-toolbar>
  <div class="contenedor bg-custom-soft">
    <div class="container-fluid mt-3">
      <div class="d-flex flex-row flex-nowrap justify-content-center overflow-auto ">

        <!-- Venta de Producto -->
        <div class="card-custom card-producto" (click)="navigateTo('registroproducto')">
          <h4 class="text-producto">Venta de producto</h4>
          <i class="bi bi-box-seam icon-producto img-fluid my-2" style="font-size: 5rem;"></i>  
        </div>

        <!-- Venta de Servicios -->
        <div class="card-custom card-servicio" (click)="navigateTo('registroservicio')">
          <h4 class="text-servicio">Venta de servicios</h4>
          <i class="bi bi-briefcase icon-servicio img-fluid my-2" style="font-size: 5rem;"></i> 
        </div>

      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
