p, h5 {
    margin: 0;
}

/* ------------MAIN------------- */

.contenedor-main {
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #989898;
}

.main-head {
    padding: 20px 10px;

    display: flex;
    justify-content: center;
}
.main-head h3 {
    margin: 0;
}
.main-head img {
    width: 50px;
}

.main-head a {
    cursor: pointer;
}

.main-head .titulo-main {
    padding: 15px 30px;
    border-radius: 5px;
    border: 1px solid #acacac;
}

.main-head .titulo-main h3 {
    font-size: 24px;

}

.row .col-6 .adelante, .row .col-6 .atras {
  padding: 5px 10px;
  background: #ededed;
  border-radius: 5px;
  border: 1px solid #acacac;
}
.example-tab-icon {
    margin-right: 8px;
    margin-bottom: 10px;
 }
 
 .mat-tab-group.mat-primary .mat-tab-list .mat-tab-label {
     background-color: #ff0000;
     border-bottom: 2px solid #ff0000 !important;
 }
 
 .mat-tab-group.mat-primary .mat-tab-list .mat-tab-label.mat-tab-label-active {
     background-color: #f60000;
     font-weight: bold;
 }
.row .col-6 .adelante .ir-adelante, .row .col-6 .atras .ir-atras {
  text-decoration: none;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.fade {
    transition: opacity 0.5s ease-in-out;
  }
  
  .mat-tab-label-active {
    background-color: #ff0000; /* Cambia el color de fondo según tus preferencias */
  }
  
.ir-adelante p, .ir-atras p {
  margin: 0;
}

/*--------------------------------------------------------------*/
/*--------------------------------------------------------------*/
/*--------------------------------------------------------------*/
.informacionPersonal {
    background: #e8e8e8;
    padding: 40px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.informacionPersonal-head {
    display: flex;
    gap: 40px;
}
.greyBackground {
    background: #d8d8d8;
    color: black;
    font-weight: 500;
    border-radius: 5px;
    padding: 20px;
    letter-spacing: 2px;
    word-spacing: 5px;
}
.codigoGeneracion {
    width: 70%;
    line-height: 3em;
}
.comprobante {
    text-align: center;
    width: 30%;
}
.comprobante > p:nth-child(3) {
    padding: 10px;
    font-size: 20px;
}

.informacionPersonal-1 {
    margin-top: 30px;
    border-radius: 5px;
    padding: 20px;
    background: #d8d8d8;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
}
.contenedor-input {
    width: 47%;
    padding: 10px 10px;
    margin-bottom: 10px;
    background: #c1c1c1;
    border-radius: 4px;
}
.contenedor-input label {
    margin-right: 10px;
}
.contenedor-input input {
    width: 60%;
    background: transparent;
    border: none;
    outline: none;
}


  
/*--------------------------------------------------------------*/
/*--------------------------------------------------------------*/
/*--------------------------------------------------------------*/
.mdc-tab.mat-mdc-tab {
    padding: 20px!important;
}
.tabla_factura {
    width: 100%;
    max-height: 100px;
    background: #e8e8e8;
    border-radius: 5px;
}
th, td:first-child {
    vertical-align: top;
    border-right: 1px solid #c2c3c3;
    border-bottom: 1px solid #c2c3c3;
    border-spacing: 0;
}
.tabla_factura .tabla-head {
    margin-top: 10px;
}
.tabla_factura .tabla-head th {
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.tabla_factura .tabla-head th:nth-child(2) {
    width: 50%;
}
.tabla_factura .tabla-head th p{
    margin: 0;
    padding: 10px 5px;
    border-radius: 5px;
    background: #529bc6;
    text-align: center;
    color: #bed8e9;
}
.contenido-tabla > td > div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.contenido-tabla > td input {
    text-align: right;
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
}
.contenido-tabla > td > div > p {
    padding: 5px 10px;
    margin: 0;
    background: #c0c0c0;
}
.contenido-tabla > td input:first-child {
    text-align: center;
}
.tabla_factura .tabla-head th p {
    color: #f4f4f4; 
    background-color: #535e5e;
    font-weight: normal;
}

.info{
    background-color: #2F5958;
}

.tabla_factura > tr:nth-child(even) {
    background: #dbd9da;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button,
input[type=text]::-webkit-inner-spin-button,
input[type=text]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
    }
input[type=number],
input[type=text] {
    -moz-appearance:textfield;
}

.masInfo-factura {
    margin-top: 30px;
    display: flex;
    gap: 10px;
}

.masInfo-factura > .info-content {
    width: 80%;
}
.masInfo-factura > .info-content > .datos  table{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
}
.masInfo-factura > .info-content > .datos  table > tr > th {
    background: #cdd5e0;
}
.masInfo-factura > .info-content > .datos  table > tr > td {
    background: #d3d3d3;
}
.masInfo-factura > .info-content > .datos  table > tr > td label{
    width: 50%;
}

.masInfo-factura > .info-content > .datos  table > tr > td > input {
    border: none;
}
.texto {
    /* margin-top: 50px; */
    width: 100%;
}
.texto:last-of-type {
    margin: 0;
}
.texto label {
    width: 100%;
    background: #cdd5e0;
}
.texto textarea {
    width: 100%;
    height: 100px;
    max-height: 100px;
}

.masInfo-factura > aside {
    background: #acacac;
    width: 50%;
}


.division {
    display: flex;
    margin-bottom: 5px;
}
.division p {
    padding: 10px 20px;
    margin: 0;
}
.division .fondoblanco {
    width: 70%;
    padding: 5px;
    background: #e8e8e8;
}
.division .info {
    background: #2F5958;
    color: #fff;
}
.division .signo {
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #c1c1c1;
}
.division .total {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f1e3b6;
}



.botones {
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;
}

.botones > button {
    margin-left: 10px;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    background: #ffdf80;
}






.footer_contabilidad {
    width: 50%;
    border-radius: 5px;
    margin: 0 auto;
    margin-top: 30px;
    padding: 20px 10px;
    text-align: center;
    background: #f2f2f2;
}
.footer_contabilidad p {
    font-size: 20px;
    font-weight: bold;
    margin: 0;
}

/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
.consumidorFinal {
  padding: 10px;
  /* background: #727272; */
}

.consumidorFinal > .fila > .botonesContenedor {
  display: flex;
  justify-content: space-between;
}

.consumidorFinal > .fila > .botonesContenedor >.botonesConsumidor > button,
.consumidorFinal > .fila > .botonesContenedor >.botonesConsumidorL > button {
  background: #529bc6;
  margin-right: 5px;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
}

.consumidorFinal > .fila > .botonesContenedor >.botonesConsumidor > button:last-child,
.consumidorFinal > .fila > .botonesContenedor >.botonesConsumidorL > button:last-child {
  margin: 0;
}
.resumen-container {
    background-color: #f9f9f9; /* Color de fondo suave */
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra sutil para profundidad */
    padding: 20px; /* Espaciado interno */
    margin-top: 20px; /* Espacio superior */
  }
  
  .resumen-titulo {
    font-size: 1rem; /* Tamaño de fuente más grande */
    margin-bottom: 30px; /* Espacio inferior */
    color: #333; /* Color de texto */
  }
  
  .datos-seccion {
    margin-bottom: 20px; /* Espacio entre secciones */
  }
  
  .datos-titulo {
    font-size: 1rem; /* Tamaño de fuente para los títulos */
    color: #007bff; /* Color distintivo para los títulos */
    margin-bottom: 10px; /* Espacio inferior */
  }
  
  .datos-contenido p {
    margin: 5px 0; /* Espaciado vertical */
    line-height: 1.6; /* Altura de línea para legibilidad */
    color: #555; /* Color de texto */
  }
  
  .datos-contenido p strong {
    color: #333; /* Color de texto más oscuro para énfasis */
  }
  
  .datos-contenido {
    padding-left: 10px; /* Espaciado interno a la izquierda */
    border-left: 3px solid #007bff; /* Línea decorativa a la izquierda */
  }
  

.consumidorFinal > .consumidorInfo > .head {
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
}
.consumidorFinal > .consumidorInfo > .head > p {
    font-weight: 700;
    text-transform: uppercase !important;
}

.consumidorFinal > .consumidorInfo > .contenido > .info {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.consumidorFinal > .consumidorInfo > .contenido > .info > .inputs {
    width: 100%;
    background-color: burlywood;
    padding: 10px 20px;
    margin-bottom: 10px;
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}
.consumidorFinal > .consumidorInfo > .contenido > .info > .selects {
    width: 250px;
    background-color: burlywood;
    padding: 10px 20px;
    margin-bottom: 10px;
    border: 1px solid black;
    border-radius: 10px;
}

/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
.toggleClass {
    display: none;
}
.mat-mdc-tab .mdc-tab__text-label {
    margin-bottom: 20px;
}
.example-action-buttons {
    padding-bottom: 20px;
  }
  
  .example-headers-align .mat-expansion-panel-header-description {
    justify-content: space-between;
    align-items: center;
  }
  
  .example-headers-align .mat-mdc-form-field + .mat-mdc-form-field {
    margin-left: 8px;
  }
  .resumen-container {
    border: 1px solid #ccc;
    padding: 15px;
    border-radius: 5px;
    background-color: #f9f9f9;
  }
  
  .resumen-container h5 {
    margin-bottom: 15px;
  }
  
  .resumen-content p {
    margin: 5px 0;
  }
  
  .resumen-content ul {
    padding-left: 20px;
  }
  
  .resumen-content ul li {
    margin: 5px 0;
  }
  
  .mat-tab-group.mat-primary .mat-tab-label {
    display: flex;  /* Usar flexbox para alineación */
    align-items: center; /* Centrar verticalmente */
    padding: 8px 16px; /* Ajuste de padding según necesites */
    background-color: #ff0000; /* Color de fondo para las pestañas no activas */
    border-bottom: 2px solid #ff0000 !important;
    transition: background-color 0.3s ease; /* Transición suave para cambio de color */
}

.mat-tab-group.mat-primary .mat-tab-label.mat-tab-label-active {
    background-color: #f60000; /* Color de fondo para pestaña activa */
    font-weight: bold;
    color: white; /* Asegura que el texto sea legible */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3); /* Sombra para pestaña activa */
}

.tab-active {
    display: flex;
    align-items: center;
    background-color: rgb(234, 234, 234);
    padding: 8px 15px;
    color: rgb(0, 0, 0);
    border-color: #454545;
    border-radius: 15px;
    border: 0.5px solid #8f8f8f;
    /* Ajuste del box-shadow para evitar borrosidad */
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2); /* Menor difuminado */
}

.tab-active-contingencia{


    
}
.tab-active-icon {
    display: flex;
    align-items: center;
    justify-content: center; /* Centra el icono */
    border-radius: 50%; /* Esto hace que el ícono también esté redondeado */
    background-color: rgb(234, 234, 234); 
    color: rgb(0, 0, 0); 
    padding: 10px; /* Ajusta el tamaño del ícono */
    margin: 4px;
}





/* Ocultar el campo de archivo real */
input[type="file"] {
  display: none;
}

  
.btn-dte{
background-color: #EDC664 ;
outline: none;
    color: rgb(95, 92, 92);
    margin: 0; /* Elimina todos los márgenes */
    float: right;
}


  .btn-siguiente {
    background-color:#F9BC01;
    outline: none;
    color: black;
    margin: 0; /* Elimina todos los márgenes */
  }

  .btn-siguiente:focus {
    border: 2px solid #333333; /* Gris oscuro */
}

  .btn-atras {
    background-color: #2F5958;
    color: white;
  }

  .col-12.text-center {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
     /* Espacio entre los botones */
  }

/* Cambia el color del borde y el fondo cuando el botón está enfocado */
.btn-siguiente:focus{
    border: 2px solid #333333; /* Usa un color gris oscuro, por ejemplo */
    background-color: #F9BC01; /* Mantén el fondo amarillo */
}

.btn-atras:active  {
    border: 2px solid #333333;
    background-color: #2F5958;
}

.btn-siguiente:active{
    background-color: #E0A800; /* Un color ligeramente más oscuro para el efecto de clic */
    border: 2px solid #E0A800; /* Cambia también el color del borde cuando está activo */
}

/* Asegúrate de que no haya borde azul por defecto */
button:focus,
input[type="button"]:focus,
input[type="submit"]:focus,
input[type="reset"]:focus {
    outline: none !important; /* Elimina el borde azul */
    box-shadow: none !important; /* Elimina cualquier sombra azul */
    border: 2px solid #333333 !important; /* Añade un borde personalizado */
}



/* Modal overlay to darken the background */
.modal-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
  }
  
  /* Modal container */
  .modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    z-index: 1000;
  }
  
  /* Modal content */
  .modal-content h3 {
    margin-top: 0;
    font-size: 24px;
  }
  
  .modal-footer {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
  }
  
  .modal-footer .btn {
    margin-left: 10px;
  }
  
  