<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
  <div class="contenedor bg-custom-soft d-flex flex-column">
    <div class="container mt-3">
      <div class="row justify-content-center g-3"> <!-- Agrega clase de Bootstrap g-3 para espaciado -->

        <div class="col-md-3"> <!-- Reduce el tamaño de las columnas -->
          <div class="card-custom card-persona" (click)="navigateTo('registroadmin')">
            <h4 class="text-persona">Persona no deducible</h4>
            <img src="../../../../assets/images/plantilla-consumidorfinal/man.png" alt="Checkmark" class="img-fluid my-4">
          </div>
        </div>
        
        <div class="col-md-3">
          <div class="card-custom card-empresa" (click)="navigateTo('registroemisor')">
            <h4 class="text-empresa">Empresa deducible</h4>
            <img src="../../../../assets/images/plantilla-consumidorfinal/revenue.png" alt="Checkmark" class="img-fluid my-4">
          </div>
        </div>
        
        <div class="col-md-3">
          <div class="card-custom card-cooperativa" (click)="navigateTo('registrousuario')">
            <h4 class="text-cooperativa">Cooperativa productos</h4>
            <img src="../../../../assets/images/plantilla-consumidorfinal/cooperation.png" alt="Checkmark" class="img-fluid my-4">
          </div>
        </div>
        
        <div class="col-md-3">
          <div class="card-custom card-exportacion-productos" (click)="navigateTo('registrousuario')">
            <h4 class="text-exportacion-productos">Exportación productos</h4>
            <img src="../../../../assets/images/plantilla-consumidorfinal/products.png" alt="Checkmark" class="img-fluid my-4">
          </div>
        </div>
        

      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
